name: Build CI

on:
  push:

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php:
          - "7.3"
          - "7.4"
    steps:
      - name: Check out source code
        uses: actions/checkout@v2

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Get composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2.1.5
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-php-${{ matrix.php }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
            ${{ runner.os }}-php-${{ matrix.php }}
            ${{ runner.os }}-php-

      - name: Start MySQL
        run: sudo systemctl start mysql.service

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-interaction

      - name: Install WP Test Suite
        run: ./.github/install-wp-tests.sh wordpress_test root root localhost latest

      - name: Run tests
        run: vendor/bin/phpunit

      - name: Run tests in multi-site mode
        run: phpunit
        env:
          WP_MULTISITE: 1
